<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" (click)="toggle(sidenav)" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>{{ menu }}</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink='/home'>{{ menuHome }}</a>
      <a class="menu-login" mat-list-item routerLink='/login'>{{ menuLogin }}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        class="menu-icon"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="toggle(sidenav)"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{ title }}</span>
      <span spacer class="spacer"></span>
      <div>
        <ul>
          <li>
            <span
              matBadge="{{ pandemia.value == 1 ? 'ON' : 'OFF' }}"
              matBadgeOverlap="false"
              matBadgeColor="{{ pandemia.value == 1 ? 'accent' : 'primary' }}"
              matBadgePosition="before">
              {{ labelPandemia }}
            </span>
          </li>
          <li>
            <span
              matBadge="{{ vaccino.value == 1 ? 'ON' : 'OFF' }}"
              matBadgeOverlap="false"
              matBadgeColor="{{ vaccino.value == 1 ? 'accent' : 'primary' }}"
              matBadgePosition="before">
              {{ labelVaccino }}
            </span>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <div class="router-outlet" fxLayout="column" fxLayoutAlign="space-between start" fxFill>
      <div><router-outlet></router-outlet></div>
      <div><app-logger style="position: absolute; top: 400px;"></app-logger></div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
