<h1>{{ title }}</h1>

<label>
  {{ labelZona }}:
  <select [formControl]="zonaFormControl" #zonaSelect>
    <option value="gialla">{{ optionZonaGialla }}</option>
    <option value="arancione">{{ optionZonaArancione }}</option>
    <option value="rossa">{{ optionZonaRossa }}</option>
  </select>
</label>

<br><br>

<label>
  {{ labelMascherine }}:
  <span>{{ mascherine }}</span>
</label>

<br><br>

{{ labelActions }}:
<form [formGroup]="actions">
  <button type="button" formControlName="universita" (click)="goUniversita()" ngDefaultControl>{{ buttonUniversita }}</button>
  <button type="button" formControlName="farmacia" (click)="goFarmacia()" ngDefaultControl>{{ buttonFarmacia }}</button>
  <button type="button" formControlName="cane" (click)="goCane()" ngDefaultControl>{{ buttonCane }}</button>
  <button type="button" formControlName="ufficio" (click)="goUfficio()" ngDefaultControl>{{ buttonUfficio }}</button>
  <button type="button" formControlName="bar" (click)="goBar()" ngDefaultControl>{{ buttonBar }}</button>
</form>
