<h1>{{ title }}</h1>

<label>
  {{ labelZona }}:
  <select [formControl]="zonaFormControl" #zonaSelect>
    <option class="option-gialla" value="gialla">{{ optionZonaGialla }}</option>
    <option class="option-arancione" value="arancione">{{ optionZonaArancione }}</option>
    <option class="option-rossa" value="rossa">{{ optionZonaRossa }}</option>
  </select>
</label>

<br><br>

<label>
  {{ labelMascherine }}:
  <span class="mascherine">{{ mascherine }}</span>
</label>

<br><br>

<!-- TODO: convertire button in mat-button -->
<p>{{ labelActions }}:</p>
<form [formGroup]="actions">
  <button class="button-universita" type="button" formControlName="universita" (click)="goUniversita()" ngDefaultControl>{{ buttonUniversita }}</button>&nbsp;
  <button class="button-farmacia" type="button" formControlName="farmacia" (click)="goFarmacia()" ngDefaultControl>{{ buttonFarmacia }}</button>&nbsp;
  <button class="button-cane" type="button" formControlName="cane" (click)="goCane()" ngDefaultControl>{{ buttonCane }}</button>&nbsp;
  <button class="button-ufficio" type="button" formControlName="ufficio" (click)="goUfficio()" ngDefaultControl>{{ buttonUfficio }}</button>&nbsp;
  <button class="button-bar" type="button" formControlName="bar" (click)="goBar()" ngDefaultControl>{{ buttonBar }}</button>&nbsp;
</form>
